/*Estilo al encabezado*/
header{
    background-color: aqua;
    padding: 20px;
    text-align: center;
    color:rgb(3, 3, 3);
}
/*Estilo para la barra de navegación*/ 
nav {  
    background-color: #77d3cb; /* Un azul fuerte */  
    text-align: center; /* Centra los enlaces */  
}  
nav a {  
    color: blue; /* Color normal de los enlaces */  
    text-decoration: none; /* Sin subrayado */  
    font-weight: bold; /* Texto en negrita */  
    padding: 14px 20px; /* Añadir espaciado a los enlaces */  
    display: inline-block; /* Mostrar enlaces como bloques en línea */  
}  
nav a:hover {   
    color: lightseagreen; /* Color de texto al pasar el mouse */  
    text-decoration: underline; /* Subrayado al pasar el mouse */  
}
/*Estilo para la sección principal*/
.contenedor{
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    background-color: crimson;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(68, 0, 255);
}
.contenedor h2{
    color: rgb(168, 235, 44);
    text-align: center;
}
.contenedor p{
    color: rgb(247, 230, 3);
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}
/*Estilo pie de página*/
footer{
    background-color: rgb(128, 128, 128);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}