body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    padding: 0;  
    background-color: #f4f4f4;  
}  

header {  
    background-color: #4CAF50; /* Fondo verde */  
    color: white;  
    text-align: center;  
    padding: 15px 0; /* Espaciado superior e inferior */  
}  

nav {  
    background-color: #0105fd; /* Fondo azul */  
    overflow: hidden; /* Para que el contenido no sobresalga */  
}  

nav a {  
    float: left; /* Alinea los enlaces a la izquierda */  
    display: block; /* Hacer que el enlace sea un bloque */  
    color: white; /* Color del texto */  
    text-align: center; /* Centrar el texto dentro del enlace */  
    padding: 14px 16px; /* Espaciado */  
    text-decoration: none; /* Quitar subrayado */  
}  

nav a:hover {  
    background-color: #ddd; /* Fondo claro al pasar el cursor */  
    color: black; /* Color del texto al pasar el cursor */  
}  

main {  
    padding: 20px;  
}  

div {  
    background-color: white; /* Fondo blanco para los contenedores */  
    border-radius: 8px; /* Bordes redondeados */  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */  
    margin: 20px 0; /* Margen uniforme */  
    padding: 15px; /* Espaciado interno */  
}  

h2 {  
    color: #4CAF50; /* Color verde para los títulos */  
    font-size: 24px; /* Tamaño de fuente */  
    text-align: left; /* Alinear a la izquierda */  
}  

p {  
    color: #555; /* Color gris para el texto */  
    font-size: 18px; /* Tamaño de fuente */  
    text-align: justify; /* Justificar el texto */  
}  

footer {  
    background-color: #333; /* Fondo oscuro */  
    color: white; /* Color claro para el texto */  
    text-align: center; /* Centrar el texto */  
    padding: 10px 0; /* Espaciado superior e inferior */  
    position: relative;  
    bottom: 0;  
    width: 100%;  
}